setuptools
flake8
typecheck-decorator == 0.3b
six
python-dateutil
pyparsing
pytz
numpy
matplotlib
scipy
pandas
git+http://github.com/mwaskom/seaborn.git@95d7aec3fba5fef5a4e038290542c10a59618c1e
sympy
ipython[notebook]
patsy
statsmodels
bokeh
scikit-learn
networkx
